apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: prod

bases:
  - ../../../apps/backend

images:
  - name: ACCOUNT_ID.dkr.ecr.ap-southeast-1.amazonaws.com/gitops-demo/backend
    newTag: "prod-latest"   # CI only sets this after staging validation

patches:
  # Production: full replicas
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: backend

  # Production-grade HPA
  - patch: |-
      - op: replace
        path: /spec/minReplicas
        value: 3
      - op: replace
        path: /spec/maxReplicas
        value: 20
    target:
      kind: HorizontalPodAutoscaler
      name: backend

configMapGenerator:
  - name: backend-config
    behavior: merge
    literals:
      - LOG_LEVEL=warn
      - ENVIRONMENT=prod
